<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="header-left clearfix">
                <div class="logo">
                    <a href="/">
                        <br>
                        <img id="logo" src="images/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>