<div class="slider-banner-container">
    <div class="slider-banner">
        <ul>
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                <img src="images/slider-1.jpg"  alt="slidebg" data-bgfit="contain" >
            </li>
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                <img src="images/slider-2.jpg"  alt="slidebg" data-bgfit="contain">
            </li>
            <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
                <img src="images/slider-3.jpg"  alt="slidebg" data-bgfit="contain">
            </li>
        </ul>
    </div>
</div>
