@height-100-rows: 300px;

.fully_loaded_table_container {
  height: 150000px;
}

.lazy-loaded-table-container {
  &.height-100-rows {
    height: @height-100-rows;
  }
}

.inline-header {
  display: inline-block;
}
