<div class="page-wrapper">
    <header class="header fixed clearfix">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="header-left clearfix">
                        <div class="logo">
                            <a href="/">
                                <br>
                                <img id="logo" src="images/logo.png" alt="iDea">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
  {{outlet}}
</div>
