<h3 class="inline-header">Chunked Grouping Rows</h3>
<p>
  Id column should just be sorted as single column.
</p>
<h4>Grouping by:</h4>
<ul>
    <li>AccountSection</li>
    <li>AccountType</li>
    <li>AccountCode</li>
</ul>
<div class="lazy-loaded-table-container" style="height:200px; padding: 10px;">
  {{ember-table
	  hasFooter=false
	  enableContentSelection=true
    content=tableContent
	  columns=columns
    sortAction='sortAction'
    groupMeta=model
  }}
</div>
