<h3 class="inline-header">Chunked Grouping Rows</h3>
<h4>Grouping by:</h4>
<ul>
    <li>AccountSection</li>
    <li>AccountType</li>
    <li>AccountCode</li>
</ul>
<div class="lazy-loaded-table-container" style="height:200px; padding: 10px;">
  {{ember-table
	  hasFooter=false
	  enableContentSelection=true
	  content=model
	  columns=columns
    sortAction='sortAction'
  }}
</div>
