<h3 class="inline-header">Custom Group Indicator</h3>
<div class="lazy-loaded-table-container" style="height:600px;">
  {{ember-table
	  hasFooter=false
	  enableContentSelection=true
	  content=tableContent
	  columns=columns
	  groupedRowIndicatorView=indicatorView
    groupIndicatorWidth=25
  }}
</div>
