<section class="main-container">
    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <nav>
                          {{feature-pages-nav tables=tables }}
                        </nav>
                    </div>
                </div>
            </aside>
            <div class="main col-md-9">
                <h1 class="page-title">{{title}}</h1>
                {{features-list features=features}}
                <hr>
               {{yield}}
            </div>
        </div>
    </div>
</section>
