<section class="container main-container">
    <div class="row">
        <aside class="col-md-3">
          {{feature-pages-nav tables=tables }}
        </aside>
        <div class="main col-md-9 feature-page-content">
            <h2 class="page-title">{{title}}</h2>
          {{features-list features=features}}
          <hr>
          {{yield}}
        </div>
    </div>
</section>
