<h3 class='group-title' >Group</h3>
<br>
<p>This is a demo for groups-reorder</p>
<div style="height:400px;" >
  {{ember-table
  hasFooter=false
  enableContentSelection=true
  columns=columns
  content=content
  }}
</div>
