<p>This is a demo for groups sort. Only "Id" and "Status" can be sortable.</p>
<div style="height:300px;" >
  {{ember-table
  hasFooter=false
  enableContentSelection=true
  columns=columns
  content=content
  setSortConditionBy='setSortConditions'
  }}
</div>
