<h3 class='group-title' >Group</h3>
<br>

<button {{action 'test'}} >Clear</button>

<div style="height:400px;" >

	{{ember-table
	  hasFooter=false
	  enableContentSelection=true
	  columns=columns
	  content=content
	}}
</div>
