<h3 class="inline-header">GroupingColumn</h3>

<div class="lazy-loaded-table-container height-100-rows">
  {{ember-table
	  hasFooter=false
	  enableContentSelection=true
	  content=model
	  hasGroupingColumn=true
	  columns=columns
  }}
</div>
