<h3 class='group-title' >Group</h3>
<br>

<div style="height:400px;" >

	{{ember-table
	  hasFooter=false
	  enableContentSelection=true
	  columns=columns
	  content=content
	  reorderIndicatorStyle='bg-red'
	}}
</div>
