<h3 class="inline-header">Grouped Rows With Level</h3>
<div class="lazy-loaded-table-container" style="height:600px;">
  {{ember-table
	  hasFooter=false
	  enableContentSelection=true
	  content=model
	  hasGroupingColumn=true
	  columns=columns
	  groupedRowIndicatorView=indicatorView
  }}
</div>
