<h3 class='group-title' >Group Sort</h3>
<br>
<p>This is a demo for groups sort</p>
<div style="height:400px;" >
  {{ember-table
  hasFooter=false
  enableContentSelection=true
  columns=columns
  content=content
  setSortConditionBy='setSortConditions'
  }}
</div>
