<h4>Grouping by:</h4>
<ul>
    <li>AccountType</li>
    <li>AccountCode</li>
</ul>
<div class="lazy-loaded-table-container" style="height:200px;">
  {{ember-table
  hasFooter=false
  enableContentSelection=true
  content=tableContent
  rowLoadingIndicatorViewName=rowLoadingIndicatorViewName
  columns=columns
  groupMeta=groupMeta
  }}
</div>
