<h3 class="inline-header">Error handling for Grouped rows</h3>
<p>Error will be thrown when expand second level rows</p>
{{#if isErrorThrown}}
    <p class="load-data-error">{{errorDescription}}</p>
    <p>groupingName:{{group}}</p>
    <p>chunkIndex:{{chunkIndex}}</p>
{{/if}}
<div class="lazy-loaded-table-container" style="height:600px;">
  {{ember-table
  hasFooter=false
  enableContentSelection=true
  content=emptyContent
  columns=columns
  handleDataLoadingError='handleDataLoadingError'
  groupMeta=groupMeta
  }}
</div>
