<ul>
    <li>{{#link-to 'fullyLoadedLoans'}}Fully Loaded Loans{{/link-to}}</li>
    <li>{{#link-to 'lazyLoadedLoans' (query-params totalCount="200")}}Lazy Loaded Loans{{/link-to}}</li>
    <li>{{#link-to 'groups'}}Column Groups{{/link-to}}</li>
    <li>{{#link-to 'groupsReorder'}}Column Groups Reorder{{/link-to}}</li>
    <li>{{#link-to 'groupsSort'}}Column Groups Sort inner column{{/link-to}}</li>
    <li>{{#link-to 'groupingColumn'}}Grouping Column{{/link-to}}</li>
    <li>{{#link-to 'groupingColumnAndFixed'}}Grouping Column And Fixed Columns{{/link-to}}</li>
    <li>{{#link-to 'groupedRows'}}Grouped rows{{/link-to}}</li>
</ul>
