<div class="section clearfix">
    <!-- slideshow start -->
    <!-- ================ -->
    <div class="slideshow">
        <!-- slider revolution start -->
        <!-- ================ -->
        <div class="slider-banner-container">
            <div class="slider-banner">
                <ul>
                    <!-- slide 1 start -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Premium HTML5 template">
                        <!-- main image -->
                        <img src="images/slider-1-slide-1.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption default_bg large sfr tp-resizeme"
                            data-x="0"
                            data-y="70"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600">Premium HTML5 template
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="170"
                            data-speed="600"
                            data-start="1600"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="170"
                            data-speed="600"
                            data-start="1600"
                            data-end="9400"
                            data-endspeed="600">100% Responsive
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="220"
                            data-speed="600"
                            data-start="1800"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="220"
                            data-speed="600"
                            data-start="1800"
                            data-end="9400"
                            data-endspeed="600">Bootstrap Based
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="270"
                            data-speed="600"
                            data-start="2000"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="270"
                            data-speed="600"
                            data-start="2000"
                            data-end="9400"
                            data-endspeed="600">Packed Full of Features
                        </div>
                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="320"
                            data-speed="600"
                            data-start="2200"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption light_gray_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="320"
                            data-speed="600"
                            data-start="2200"
                            data-end="9400"
                            data-endspeed="600">Very Easy to Customize
                        </div>
                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
                            data-x="0"
                            data-y="370"
                            data-speed="600"
                            data-start="2400"
                            data-end="9400"
                            data-endspeed="600">And Much More...
                        </div>
                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption sfr tp-resizeme"
                            data-x="right"
                            data-y="center"
                            data-speed="600"
                            data-start="2700"
                            data-end="9400"
                            data-endspeed="600"><img src="images/slider-1-layer-1.png" alt="">
                        </div>
                    </li>
                    <!-- slide 1 end -->
                    <!-- slide 2 start -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
                        <!-- main image -->
                        <img src="images/slider-1-slide-2.jpg"  alt="slidebg1" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption white_bg large sfr tp-resizeme"
                            data-x="0"
                            data-y="70"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600">Powerful Bootstrap Theme
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption default_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="170"
                            data-speed="600"
                            data-start="1600"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="170"
                            data-speed="600"
                            data-start="1600"
                            data-end="9400"
                            data-endspeed="600">W3C Validated
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption default_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="220"
                            data-speed="600"
                            data-start="1800"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="220"
                            data-speed="600"
                            data-start="1800"
                            data-end="9400"
                            data-endspeed="600">Unlimited layout variations
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption default_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="270"
                            data-speed="600"
                            data-start="2000"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="270"
                            data-speed="600"
                            data-start="2000"
                            data-end="9400"
                            data-endspeed="600">Google Maps
                        </div>
                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption default_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="320"
                            data-speed="600"
                            data-start="2200"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="320"
                            data-speed="600"
                            data-start="2200"
                            data-end="9400"
                            data-endspeed="600">Very Flexible
                        </div>
                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption default_bg sfb medium tp-resizeme"
                            data-x="0"
                            data-y="370"
                            data-speed="600"
                            data-start="2400"
                            data-end="9400"
                            data-endspeed="600">And Much More...
                        </div>
                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption sfr tp-resizeme"
                            data-x="right"
                            data-y="center"
                            data-speed="600"
                            data-start="2700"
                            data-end="9400"
                            data-endspeed="600"><img src="images/slider-1-layer-2.png" alt="">
                        </div>
                    </li>
                    <!-- slide 2 end -->
                    <!-- slide 3 start -->
                    <li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Powerful Bootstrap Theme">
                        <!-- main image -->
                        <img src="images/slider-1-slide-3.jpg"  alt="kenburns"  data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="115" data-bgpositionend="right center">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption white_bg large sfr tp-resizeme"
                            data-x="0"
                            data-y="70"
                            data-speed="600"
                            data-start="1200"
                            data-end="9400"
                            data-endspeed="600">Clean &amp; Unique Design
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="170"
                            data-speed="600"
                            data-start="1600"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="170"
                            data-speed="600"
                            data-start="1600"
                            data-end="9400"
                            data-endspeed="600">After Sale Support
                        </div>
                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="220"
                            data-speed="600"
                            data-start="1800"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="220"
                            data-speed="600"
                            data-start="1800"
                            data-end="9400"
                            data-endspeed="600">Crystal Clean Code
                        </div>
                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="270"
                            data-speed="600"
                            data-start="2000"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="270"
                            data-speed="600"
                            data-start="2000"
                            data-end="9400"
                            data-endspeed="600">Crossbrowser Compatible
                        </div>
                        <!-- LAYER NR. 8 -->
                        <div class="tp-caption dark_gray_bg sfl medium tp-resizeme"
                            data-x="0"
                            data-y="320"
                            data-speed="600"
                            data-start="2200"
                            data-end="9400"
                            data-endspeed="600"><i class="icon-check"></i>
                        </div>
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption white_bg sfb medium tp-resizeme"
                            data-x="50"
                            data-y="320"
                            data-speed="600"
                            data-start="2200"
                            data-end="9400"
                            data-endspeed="600">Latest Technologies Used
                        </div>
                        <!-- LAYER NR. 10 -->
                        <div class="tp-caption dark_gray_bg sfb medium tp-resizeme"
                            data-x="0"
                            data-y="370"
                            data-speed="600"
                            data-start="2400"
                            data-end="9400"
                            data-endspeed="600">Don't miss out!
                        </div>
                        <!-- LAYER NR. 11 -->
                        <div class="tp-caption sfr"
                            data-x="right" data-hoffset="-660"
                            data-y="center"
                            data-speed="600"
                            data-start="2700"
                            data-endspeed="600"
                            data-autoplay="false"
                            data-autoplayonlyfirsttime="false"
                            data-nextslideatend="true">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src='https://www.youtube.com/embed/v1uyQZNg2vE?enablejsapi=1&amp;html5=1&amp;hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0;rel=0;' width='640' height='360' style='width:640px;height:360px;'></iframe>
                            </div>
                        </div>
                    </li>
                    <!-- slide 3 end -->
                </ul>
                <div class="tp-bannertimer tp-bottom"></div>
            </div>
        </div>
        <!-- slider revolution end -->
    </div>
    <!-- slideshow end -->
</div>
<!-- banner end -->
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Features</h2>
                <div class="separator-2"></div>
                <p>Sed ut Perspiciatis Unde Omnis Iste Sed ut sit voluptatem accusan tium </p>
                <div class="owl-carousel carousel">
                    {{#each view.tables as |table index|}}
                    <div class="image-box object-non-visible" data-animation-effect="fadeInLeft"
                        data-effect-delay={{table.delay}}>
                        <div class="overlay-container">
                            <img src="images/portfolio-1.jpg" alt="">
                            <div class="overlay">
                                <div class="overlay-links">
                                    {{#link-to table.link }}<i class="fa fa-link"></i>{{/link-to}}
                                    {{#link-to table.link }}<i class="fa fa-search-plus"></i>{{/link-to}}
                                </div>
                            </div>
                        </div>
                        <div class="image-box-body">
                            <h3 class="title">{{#link-to table.link}}{{table.name}}{{/link-to}}</h3>
                            <p>{{table.description}}</p>
                            {{#link-to table.link class="link"}}Try it{{/link-to}}
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section gray-bg clearfix">
    <div class="owl-carousel content-slider">
        <div class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Just Perfect!</h2>
                        <div class="testimonial-image">
                            <img src="images/testimonial-1.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>Sed ut perspiciatis unde omnis iste natu error sit voluptatem accusan tium dolore laud
                            antium, totam rem dolor sit amet tristique pulvinar, turpis arcu rutrum nunc, ac laoreet
                            turpis augue a justo.</p>
                            <div class="testimonial-info-1">- Jane Doe</div>
                            <div class="testimonial-info-2">By Company</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Wow amazing!</h2>
                        <div class="testimonial-image">
                            <img src="images/testimonial-2.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>Turpis arcu rutrum nunc, ac laoreet turpis augue a justo. Lorem ipsum dolor sit amet,
                            consectetur adipisicing elit. Expedita, esse, animi maxime voluptate tempore at sunt
                            labore incidunt nulla dignissimos iusto ad similique inventore distinctio quam
                            repellendus itaque minus minima.</p>
                            <div class="testimonial-info-1">- John Doe</div>
                            <div class="testimonial-info-2">By Company</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">Thanks!</h2>
                        <div class="testimonial-image">
                            <img src="images/testimonial-3.jpg" alt="Jane Doe" title="Jane Doe" class="img-circle">
                        </div>
                        <div class="testimonial-body">
                            <p>Phosfluorescently e-enable adaptive synergy for strategic quality vectors. Continually
                            transform fully tested expertise with competitive technologies ac laoreet turpis augue a
                            justo.</p>
                            <div class="testimonial-info-1">- John Doe</div>
                            <div class="testimonial-info-2">By Company</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">Who we are</h1>
                <div class="separator"></div>
                <p class="lead text-center">Lorem ipsum dolor sit amet laudantium molestias similique.<br> Quisquam
                incidunt ut laboriosam.</p>
                <br>
                <div class="row">
                    <div class="col-md-6">
                        <h2 class="title">iDea - Responsive Website Theme</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="images/section-image-2.png" alt="">
                            </div>
                            <div class="col-md-6">
                                <p>Quo soluta provident, quod reiciendis. Dolores nam totam aut illum ex ratione harum
                                molestias maxime minima tempore, possimus, laudantium. Lorem ipsum dolor sit amet,
                                consectetur adipisicing elit.</p>
                            </div>
                        </div>
                        <p>Esse sequi veniam, assumenda voluptate necessitatibus ipsa dicta vero, minima natus cum
                        cupiditate magnam et placeat quo adipisci.</p>
                        <a href="page-about.html" class="btn btn-white">Learn More</a>
                        <div class="space hidden-md hidden-lg"></div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-group panel-dark" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="fa fa-bold"></i>Bootstrap Based
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                        cred nesciunt sapiente ea proident.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                                    class="collapsed">
                                    <i class="fa fa-leaf"></i>Clean &amp; powerful code
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                        cred nesciunt sapiente ea proident.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                                    class="collapsed">
                                    <i class="fa fa-html5"></i>HTML5/CSS3
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor
                                        brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                        sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson
                                        cred nesciunt sapiente ea proident.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<footer id="footer">
    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-content">
                        <h2>HedgeServe</h2>
                        <p>Veritatis officiis ullam libero quam aliquam, tenetur dolor incidunt praesentium dolorum
                        laborum tempora suscipit quo sapiente.</p>
                        <ul class="social-links colored circle">
                            <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i
                            class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a target="_blank" href="http://www.twitter.com"><i
                            class="fa fa-twitter"></i></a></li>
                            <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i
                            class="fa fa-google-plus"></i></a></li>
                            <li class="skype"><a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a>
                            </li>
                            <li class="linkedin"><a target="_blank" href="http://www.linkedin.com"><i
                            class="fa fa-linkedin"></i></a></li>
                            <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i
                            class="fa fa-youtube-play"></i></a></li>
                            <li class="flickr"><a target="_blank" href="http://www.flickr.com"><i
                            class="fa fa-flickr"></i></a></li>
                            <li class="pinterest"><a target="_blank" href="http://www.pinterest.com"><i
                            class="fa fa-pinterest"></i></a></li>
                        </ul>
                        <a href="page-about.html" class="link"><span>Read More</span></a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-2 col-lg-offset-1">
                    <div class="footer-content">
                        <h2>Links</h2>
                        <nav>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="blog-right-sidebar.html">Blog</a></li>
                                <li><a href="portfolio-3col.html">Portfolio</a></li>
                                <li><a href="page-about.html">About</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="footer-content">
                        <h2>Subscribe</h2>
                        <form class="margin-bottom-clear">
                            <div class="form-group has-feedback">
                                <label class="sr-only" for="subscribe">Email address</label>
                                <input type="email" class="form-control" id="subscribe" placeholder="Enter email"
                                name="subscribe" required>
                                <i class="fa fa-envelope form-control-feedback"></i>
                                <button type="submit" class="btn btn-white btn-sm">Submit</button>
                            </div>
                        </form>
                        <div class="box small"><i class="fa fa-cc-paypal"></i></div>
                        <div class="box small"><i class="fa fa-cc-visa"></i></div>
                        <div class="box small"><i class="fa fa-cc-mastercard"></i></div>
                        <div class="box small"><i class="fa fa-cc-discover"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .footer end -->
    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Copyright © 2014 iDea by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>. All Rights
                    Reserved</p>
                </div>
                <div class="col-md-6">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#navbar-collapse-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="collapse navbar-collapse" id="navbar-collapse-2">
                            <ul class="nav navbar-nav">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="page-about.html">About</a></li>
                                <li><a href="blog-right-sidebar.html">Blog</a></li>
                                <li><a href="portfolio-3col.html">Portfolio</a></li>
                                <li><a href="page-contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- .subfooter end -->
</footer>
