<h3>Lazy loaded set of loans by {{totalCount}}</h3>

<div class="lazy-loaded-table-container height-100-rows">
  {{ember-table
  hasFooter=false
  enableContentSelection=true
  columns=columns
  content=model
  }}
</div>