<h3 class="inline-header">Lazy loaded set of loans by {{input type="text" value=totalCount}}</h3><button {{action 'apply'}}>Apply</button>

<div class="lazy-loaded-table-container height-100-rows">
  {{ember-table
  hasFooter=false
  enableContentSelection=true
  columns=columns
  content=model
  setSortConditionBy='setSortConditions'
  }}
</div>
