<div class="row">
  {{#each styleParts as |part| }}
      <div class="form-group col-md-2">
          <label>{{part.title}}:</label>
          {{view "select" class="form-control"
            content=styleOptions
            optionValuePath="content.id"
            optionLabelPath="content.title"
            value=part.selectedStyle
            prompt="Please select a style"
          }}
      </div>
  {{/each}}
</div>

<div class="height-13-rows">
  {{ember-table
  hasFooter=false
  enableContentSelection=true
  content=tableContent
  columns=columns
  sortAction='sortAction'
  groupMeta=model
  }}
</div>
