<section class="main-container">
    <div class="container">
        <div class="row">
            <!-- sidebar start -->
            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <nav>
                          {{feature-pages-nav tables=tables }}
                        </nav>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-9">
                <!-- page-title start -->
                <!-- ================ -->
                <h1 class="page-title">{{title}}</h1>
                <hr>
                <!-- page-title end -->
              {{yield}}
            </div>
            <!-- main end -->
        </div>
    </div>
</section>
<!-- main-container end -->
